:root {
    --background: #282a36;
    --currentLine: #44475a;
    --foreground: #f8f8f2;
    --pink: #ff79c6;
    --pinkAlt: #bf629b;
    --red: #ff5555;
}
html {
    background: var(--background);
    color: var(--foreground);
}
a {
    color: var(--pink);
}
a:visited {
    color: var(--pinkAlt);
}
h1 a, h1 a:visited {
    color: var(--foreground);
}
span#reighteen {
    color: var(--red);
}
[title], [title] * {
    text-decoration: 0.1em underline var(--red);
}
table#details tr:nth-child(2n) {
    background: var(--currentLine);
}
ul#categories li.category {
    background: var(--currentLine);
}